[Unit]
Description=MTP responder functionfs socket

[Socket]
ListenUSBFunction=/dev/usb-funcs/mtp/default
Service=mtp-responder.service
TriggerLimitIntervalSec=0
