[Unit]
Description=MTP responder

[Service]
User=network_fw
Group=network_fw
SupplementaryGroups=priv_mediastorage priv_externalstorage
Type=simple
ExecStart=/usr/bin/mtp-responder
KillMode=process
