[Unit]
Description=MTP responder
StartLimitIntervalSec=0

[Service]
User=network_fw
Group=network_fw
SupplementaryGroups=priv_mediastorage priv_externalstorage
Type=simple
ExecStart=/usr/bin/mtp-responder
KillMode=process
SmackProcessLabel=System
USBFunctionDescriptors=/etc/mtp-responder/descs
USBFunctionStrings=/etc/mtp-responder/strs
RestartSec=3
Restart=on-failure
