[Unit]
Description=MTP responder
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/cmtp-responder
USBFunctionDescriptors=/etc/cmtp-responder/descs
USBFunctionStrings=/etc/cmtp-responder/strs
KillMode=process
RestartSec=3
Restart=always
