[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStart=/bin/gt load -o mtp-ffs.scheme mtp-ffs
RemainAfterExit=yes
ExecStop=/bin/gt rm -rf mtp-ffs
Type=oneshot

[Install]
WantedBy=usb-gadget.target
